.b-button
  border: 1px solid #ababab;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  position: relative;
  outline: none;
  resetTap();

.b-button:focus
  outline: none;

/* FF reset */
button::-moz-focus-inner
  border: 0;
  padding: 0;