.b-button_ico_white-plus
  &:before
    content: '';
    display: inline-block;
    iconsSprite();
    background-position: -36px -257px;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    vertical-align: middle;