.b-button_theme_light
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearence: button;
  color: $drom-blue;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 11px;
  border: 1px solid $drom-gray;
  line-height: 38px;
  font-size: 14px;
  background: $drom-gray-alt;

.drom-notouch .b-button_theme_light:hover
.drom-touch .b-button_theme_light:active
  background: #ffffff;
  color: $drom-red;
  text-decoration: none;
  border-color: $drom-gray-dark;
