.b-button_theme_black
  box-sizing: border-box;
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  color: #ffffff;
  display: inline-block;
  padding: 0 20px;
  background: $drom-dark
  cursor: pointer;
  margin-top: 40px;
  border: none;


.drom-notouch .b-button_theme_black:hover
.drom-touch .b-button_theme_black:active
  background: $drom-red