.b-button_theme_red
  border: none;
  box-sizing: border-box;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  padding: 0px 20px;
  background: $drom-red;
  cursor: pointer;

a.b-button_theme_red
  text-decoration: none;

.drom-notouch .b-button_theme_red:hover
.drom-touch .b-button_theme_red:active
  background: #bf0017;